# =========================
# Android Studio / Gradle
# =========================

*.iml

.gradle/

/local.properties
local.properties

/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

.DS_Store

/build/
**/build/

/captures/

.externalNativeBuild/
.cxx/


# =========================
# Kenglish Backend
# =========================

# Composer dependencies
/backend/vendor/

# Composer executable
/backend/composer.phar

# Email config chua Gmail App Password
/backend/config/email_secret.php


# =========================
# Environment / Secrets
# =========================

.env
.env.*